<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581507658371-ugopko3bglbf3pt68h0otttn23mpn1q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581507658371-ugopko3bglbf3pt68h0otttn23mpn1q4</string>
	<key>API_KEY</key>
	<string>AIzaSyAOAhYDhVEXTcrcE3Lvb-Tw23n1s35K0xI</string>
	<key>GCM_SENDER_ID</key>
	<string>581507658371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petApp</string>
	<key>PROJECT_ID</key>
	<string>pet-app-fccae</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-app-fccae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581507658371:ios:b0afbcd4b3a93170b7a1b6</string>
</dict>
</plist>